Source: chaste-source
Section: science
Priority: extra
Maintainer: Chaste Team <chaste-admin@maillist.ox.ac.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Vcs-Browser: https://chaste.cs.ox.ac.uk/trac

Package: chaste-source
Architecture: all
Depends: cmake | scons, g++, libopenmpi-dev, petsc-dev (>= 3.0), libhdf5-openmpi-dev, xsdcxx, libboost-serialization-dev, libboost-filesystem-dev, libboost-program-options-dev, libparmetis-dev, libmetis-dev, libxerces-c-dev, libsundials-serial-dev, libvtk6-dev | libvtk5-dev, python-lxml, python-amara, python-rdflib, libproj-dev
Recommends: valgrind, libfltk1.1, hdf5-tools, cmake-curses-gui
Suggests: libgoogle-perftools-dev, doxygen, graphviz, eclipse-cdt, eclipse-egit, gnuplot, paraview
Description: general purpose computational biology simulation package
 Chaste (Cancer, Heart and Soft Tissue Environment) is a general purpose
 simulation package aimed at multi-scale, computationally demanding problems
 arising in biology and physiology. Current functionality includes tissue and
 cell level electrophysiology, discrete tissue modelling, and soft tissue
 modelling. The package is being developed by a team mainly based in the
 Computational Biology Group at Oxford University Computing Laboratory, and
 development draws on expertise from software engineering, high performance
 computing, mathematical modelling and scientific computing.
 .
 The main website for Chaste can be found at
 http://www.cs.ox.ac.uk/chaste

Package: chaste-dependencies
Architecture: all
Depends: cmake | scons, g++, libopenmpi-dev, petsc-dev (>= 3.0), libhdf5-openmpi-dev, xsdcxx, libboost-serialization-dev | libboost-serialization1.48-dev, libboost-filesystem-dev | libboost-filesystem1.48-dev, libboost-program-options-dev | libboost-program-options1.48-dev, libparmetis-dev, libmetis-dev, libxerces-c-dev, libsundials-serial-dev, libvtk6-dev | libvtk5-dev, python-lxml, python-amara, python-rdflib, libproj-dev
Recommends: git, valgrind, libpetsc3.6.4-dbg|libpetsc3.6.2-dbg|libpetsc3.4.2-dbg|libpetsc3.2-dbg|libpetsc3.1-dbg|libpetsc3.0.0-dbg, libfltk1.1, hdf5-tools, cmake-curses-gui
Suggests: libgoogle-perftools-dev, doxygen, graphviz, eclipse-cdt, eclipse-egit, libsvn-java, subversion, git-svn, gnuplot, paraview
Description: metapackage for installing the dependencies of Chaste
 Chaste (Cancer, Heart and Soft Tissue Environment) is a general purpose
 simulation package aimed at multi-scale, computationally demanding problems
 arising in biology and physiology.
 .
 The main package for Chaste is chaste-source.  This metapackage installs
 its dependencies, and is provided for the benefit of Chaste developers who
 obtain the source code from the Chaste repository.
 .
 The main website for Chaste can be found at
 http://www.cs.ox.ac.uk/chaste
