#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file for Chaste, modified from the sample debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

build:
# Nothing to do

srcpkg = chaste-source
DESTDIR = $(CURDIR)/debian/$(srcpkg)
srcdir = $(DESTDIR)/usr/src/$(srcpkg)
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -p$(srcpkg)
	dh_installdirs

	install -d $(srcdir)
	find . \( -path './debian' -o \
		  -path './README.txt' -o \
		  -path './docs' -o \
		  -path './doxygen' -o \
		  -path './*lib/*' -o \
		  -path './testoutput' -o \
		  -path './test_summary/*' -o \
		  -path './.*' -o \
		  -name '.svn' -o \
		  -name '*.patch' -o \
		  -name '*.log' -o \
		  -name '*~' -o \
                  -path './*/build/*' -o \
		  -path './heart/src/io/ChasteParameters.?pp' -o \
		  -name 'notforrelease*' -o \
		  -path './python/hostconfig/machines' -o \
		  -path './infrastructure-scripts' \
		\) -prune -o -print | \
		cpio -pd --preserve-modification-time $(srcdir)
	(cd $(srcdir)/..; tar cf - $(srcpkg)) | bzip2 -9c > \
		$(srcdir).tar.bz2
	rm -rf $(srcdir)


# Build architecture-dependent files here.
binary-arch:
# We have nothing to do

# Build architecture-independent files here.
binary-indep: install-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs -i
	dh_installdocs -i -XCopying.txt -X.svn
#	dh_python
#	dh_installinfo
#	dh_installman
#	dh_link
#	dh_strip
	dh_compress -i -Xlicences
	dh_fixperms -i
#	dh_makeshlibs
	dh_installdeb -i
#	dh_shlibdeps
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install build
