1	0
0	0	1
#
# Created by Chaste version 2.3.13339 (with uncommitted modifications) on Mon, 01 Aug 2011 09:51:49 +0000.  Chaste was built on Mon, 01 Aug 2011 09:49:26 +0000 by machine (uname) 'Linux clfh6829 2.6.32-33-generic #70-Ubuntu SMP Thu Jul 7 21:13:52 UTC 2011 x86_64' using settings: default, no Chaste libraries.

